# aws key and secret

[AWS]
KEY    =ENTER_YOUR_KEY_HERE
SECRET =ENTER_YOUR_SECRET_HERE

# redshift parameters; host, database name, database user ,database password and database port for connection. Some of cluster and dwh parameters are samething but we split them into two different header to easly manage our cluster and dwh opearations.

[CLUSTER]
HOST        =ENTER_YOUR_HOST_HERE
DB_NAME     =dwh
DB_USER     =dwhuser
DB_PASSWORD =Passw0rd
DB_PORT     =5439

# Identity and Access Management role.

[IAM_ROLE]
ARN=ENTER_YOUR_ARN_HERE

# Cluster parameters for creating redshift we will use these parameters. We are going to use these parameters while we are creating infrastracture by code.

[DWH]
DWH_CLUSTER_TYPE        =multi-node
DWH_NUM_NODES           =4
DWH_NODE_TYPE           =dc2.large    
DWH_CLUSTER_IDENTIFIER  =dwhCluster
DWH_DB                  =dwh
DWH_DB_USER             =dwhuser   
DWH_DB_PASSWORD         =Passw0rd
DWH_PORT                =5439    
DWH_IAM_ROLE_NAME       =ENTER_YOUR_IAM_ROLE_NAME_HERE

#  amazong S3 bucket path for our raw data source, we are going to ingest data from these sources.

[S3]
LOG_DATA      ='s3://udacity-dend/log_data'
LOG_JSONPATH  ='s3://udacity-dend/log_json_path.json'
SONG_DATA     ='s3://udacity-dend/song_data'